
body{
    font-family:"Montserrat", sans-serif;
    background-color: #1a1a1a;
    color:#fff;
}

a{
    text-decoration: none;
    color:cyan;
}

#Login{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;

}


.email input{
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    background-color:#1e1c2e ;
    color: #b6b6b6;
}
.Senha input{
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    background-color:#1e1c2e ;
    color: #b6b6b6;
    margin-top: 15px;
}


.entrar input{
    cursor: pointer;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color:lawngreen;
    color: #141414;
}
input::placeholder{
    color: #b6b6b6;
}

h1{
    color: #fafafa;
}
.box{
    margin-top: 65px;
}

.box img{
    width: 190px;
}
input:focus{
    outline: none ;
}
